# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
pyvenv.cfg

# PyCharm files
.idea

# Git
.git

# Python cache
__pycache__

# Python virtual environment
venv

# Saved games
*.sav

# Unecessary Folders
/src
/assets/dawnlike
/assets/fonts
/dist
/playground




